.dashboard-container{
  @apply flex justify-center items-center h-screen font-muli;
}

.header-title{
  @apply text-3xl font-black text-center tracking-[5px] text-white uppercase;
}

.dashboard {
  @apply bg-white rounded-lg py-5 px-7 w-full flex justify-center flex-col shadow-lg shadow-transparent h-64 mt-20;
  border: 2px solid #f0f0f0;
}

.description{
  @apply text-lg font-bold tracking-wide capitalize;
}

.input-box{
  @apply mt-5 flex items-center justify-center;
}

.input-box .input {
  @apply w-full p-2 rounded-xl text-xl;
  border: 2px solid #eee;
}

.input-box .input::placeholder {
  font-size: 14px;
}

.input-box .input:focus {
  outline: none;
}

.shortBtn{
  @apply inline-flex items-center px-12 py-3 bg-black text-white ml-2 text-lg rounded-lg;
}


.shortBtn:active {
  transform: scale(0.98);
}
.shortBtn:hover {
  opacity: 0.9;
}
